doctype html

html(lang="en")
    head
        title banner ad sample
        meta(
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"
        )
    body
        main.content
            section.content__modal.hidden
                video(
                    id="video__modal"
                    preload="none"
                )
                    source(
                        src='https://dl.dropbox.com/s/nvtznxk17mf5mob/coffee.mp4?dl=0'
                        type='video/mp4'
                    )
                progress(
                    id="video__modal-progress"
                    max="100"
                    value="0"
                )
                a.modal__close X
            section.content__video
                video(
                    id="video__loop"
                    playsinline
                    autoplay
                    muted
                    loop
                    preload
                )
                    source(
                        src='https://dl.dropbox.com/s/nvtznxk17mf5mob/coffee.mp4?dl=0'
                        type='video/mp4'
                    )
            a.content__video-trigger(
                href="#"
            )
                span
            a.content__slider(
                href="http://www.sylvanesso.com/"
                target="_blank"
            )
                section.slider__slides
                    article.slider__slide
                        h2 get up
                    article.slider__slide.hidden
                        h2 get down
                    article.slider__slide.hidden
                        h2 Feel the turn of rotation and stop
                section.slider__footer
                    p Sylvan Esso on Tour Now
                    p get Tickets
                    include svg/logo.pug
