doctype html

html(lang="en")
    head
        title sarah
        meta(
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"
        )
        link(
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Lato:300,300i"
        )
    body
        main.content
            section.content__video
                video(
                    playsinline
                    autoplay
                    muted
                    loop
                    preload
                )
                    source(
                        src='https://dl.dropboxusercontent.com/s/bdmwhzdy1rqxdbn/coffee.webm?dl=0'
                        type='video/webm'
                    )
            section.content__video-controls
            section.content__slider
                section.slider__slides
                    article.slider__slide
                section.slider__footer
                    a.slider__cta(
                        href="#"
                    ) buy album
                    include svg/logo.pug
